{% extends '_user_base_template.html' %}

<!-- Page title -->
{%block page_title%} Latest Movies - Cinemira {%endblock%}

<!-- Page main contents -->
{%block content %}
<!-- Start  -->
{% load static %}

<div class="d-flex justify-content-between my-2">
  <div class="page-title">
    <h1>
      {% if filter %}
        {{filter}} Movies
      {% else %}
        Latest Movies
      {% endif %}
    </h1>
  </div>
  <div class="sort mt-2">
    <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-sort"></i> Sort via Genres</button>
  </div>
</div>
<div class="collapse my-2 border-top py-2" id="collapseExample">
  {% for genre in genres %}
    <a href="/genre/{{genre.genre}}/" class="btn btn-light border  border-2">{{ genre.genre }}</a>
  {% endfor %}
</div>

<!-- Movie posts -->
<div class="movies">
  {% if movies.count <= 0 %}
  <div class="alert alert-dark">
    <strong>No movies found!</strong>
    Please <a href="{% url 'newMovie' %}">add</a> some movies.
  </div>
  {% endif %}
  <div class="row">
    {% for movie in movies %}
    <div class="movie-card col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="user mb-1 d-flex">
        <div
          class="img rounded-circle bg-dark overflow-hidden"
          style="width: 45px; height: 45px"
        >
        <a href="/user/{{ movie.user.username }}/">
          <img
            src="{{ movie.user.profile_image }}"
            class="w-100"
            alt="user"
          />
        </a>
        </div>
        <div class="name px-2">
          <span class="d-block" style="font-weight: 700"><a href="/user/{{ movie.user.username }}/"> {{ movie.user.name }}</a></span>
          <small class="text-muted">on <b>{{ movie.date_time_added }}</b></small>
        </div>
      </div>
      <a href="/movie-details/{{ movie.id }}/" class="d-block">
        <div class="movie">
          <div class="card shadow-sm border-0 overflow-hidden">
            <img src="{% if movie.movie_poster or movie.movie_poster != ""%}{{movie.movie_poster }} {% else %}{{'/static/images/utilities/poster-placeholder.svg'}} {% endif %}"
            class="w-100" alt="{{movie.movie_poster}}" />
          </div>
          <div class="movie-title mt-2">
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </a>
    </div>
    {%endfor%}
  </div>
</div>

{%endblock %}
