{% extends '_user_base_template.html' %} {% load static %}

<!-- Page title -->
{%block page_title%} Add your movie - Cinemania {%endblock%}

<!-- Main content -->
{%block content %}
<h2 class="mt-3">Share your favorite movie with the community</h2>
<span class="text-muted"
  >Any field marked with <span class="text-danger">*</span> is required</span
>
<div class="form my-3">
  <form
    action="{% url 'newMovie' %}"
    method="POST"
    class="row justify-content-between"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="col-lg-6">
      <div class="bg-white px-3 p-2">
        <div class="form-group mb-2">
          <label for="movie_title" class="mb-2"
            >Movie Title <span class="text-danger">*</span></label
          >
          <input
            type="text"
            id="movie_title"
            name="movie_title"
            class="form-control"
          />
        </div>
        <div class="form-group mb-2">
          <label for="movie_title" class="mb-2"
            >Genre <span class="text-danger">*</span></label
          >
          <select name="genre" id="" class="form-control">
            <option disabled selected>
              Select the genre <i class="fas fa-sort"></i>
            </option>
            <option value="">Comedy</option>
            <option value="">Romance</option>
            <option value="">Action</option>
            <option value="">Adventure</option>
            <option value="">Sci-fi</option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label for="movie_title" class="mb-2"
            >Release date <span class="text-danger">*</span></label
          >
          <input type="date" name="release_date" class="form-control" />
        </div>
        <div class="form-group mb-2">
          <label class="mb-2"
            >Main Cast <span class="text-danger">*</span></label
          >
          <div class="actors">
            <button
              type="button"
              class="btn rounded-5 btn-secondary btn-sm mb-2 border"
              data-actor-selector-btn
              data-bs-toggle="modal"
              data-bs-target="#actor-selector-modal"
            >
              <i class="fas fa-plus"></i> Select actor(s)
            </button>
          </div>
          <input
            type="hidden"
            id="actors"
            name="actors"
            data-actors
            class="d-none"
          />
        </div>
        <div class="form-group mb-2">
          <label for="synopsis" class="mb-2"
            >Synopsis <span class="text-danger">*</span></label
          >
          <textarea
            name="synopsis"
            id="synopsis"
            placeholder="The movie description"
            class="form-control"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-column">
        <div class="form-group mb-2">
          <label for="poster" class="mb-2">Movie Poster</label>
          <input type="file" id="poster" name="poster" class="form-control" />
        </div>
        <div class="form-group mb-2">
          <label for="movie_trailer_link" class="mb-2"
            >Movie Trailer <i class="fas fa-link"></i
          ></label>
          <input
            type="text"
            id="trailer"
            name="trailer"
            placeholder="Movie link to trailer"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <div class="col-12 my-3 text-end">
      <button
        type="button"
        class="btn btn-light border text-bg-dark"
        style="margin-right: 13px"
        onclick="history.back()"
      >
        <i class="fas fa-arrow-alt-circle-left"></i> Cancel
      </button>
      <button type="submit" class="btn btn-primary">
        Post <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </form>
</div>
<!-- Bootstrap modal -->
<div
  class="modal fade"
  id="actor-selector-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="actor-selector-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="actor-selector-modal-label">
          Select actors
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group mb-2">
          <label for="actor-selector" class="mb-2">Actor</label>
          <div class="position-relative">
            <input
              type="text"
              name="actor"
              class="form-control actor-selector-input"
            />
          </div>
        </div>
        <div class="actors-div"></div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light border"
          data-bs-dismiss="modal"
        >
          <i class="fas fa-arrow-alt-circle-left"></i> Cancel
        </button>
        <button
          type="button"
          class="btn btn-dark"
          data-dismiss="modal"
          data-actor-selector-btn-add
        >
          Add <i class="fas fa-check-circle"></i>
        </button>
      </div>
    </div>
  </div>
  {%endblock%}

  <!-- Inject JS -->
  {%block scripts %}
  <script src="{% static 'resources/js/new-movie-form-validator.js' %}"></script>
  <script src="{% static 'resources/js/actor-selector.js' %}"></script>
  <script src="{% static 'libs\axios\dist\axios.min.js' %}"></script>
  {%endblock%}
</div>
