{% extends '_user_base_template.html' %}

<!-- Page title -->
{%block page_title%} @{{ user_info.username }} - Cinemania {%endblock%}

<!-- Page main contents -->
{%block content %} {% load static %}
<div class="my-2">
  <div class="page-title bg-secondary px-2 py-3">
    <div class="d-flex align-items-center">
        <div class="img rounded-circle bg-dark overflow-hidden" style="width: 90px; height: 90px">
          <img
            src="{{ user_info.profile_image }}"
            class="w-100"
            alt="user"
          />
        </div>
        <h3 class="px-2 text-white">{{ user_info.name }} <span class="text-white-50">@{{ user_info.username }}</span></h3>
    </div>
    <hr />
    <p class="text-light mb-1 px-2"><span class="text-white-50">A member since</span> {{ user_info.date_joined }}</p>    
    <p class="text-light mb-1 px-2"><span class="text-white-50">Gender</span> {{ user_info.gender }}</p>    
    <p class="text-light mb-1 px-2"><span class="text-white-50">Aged </span> {{ user_info.age }} years old</p>    
    <p class="text-light mb-1 px-2"><span class="text-white-50">Email address is </span> {{ user_info.email }}</p>    
    <p class="text-light mb-1 px-2"><span class="text-white-50">Posted </span> {{ movies.count }} movies</p>    
</div>
</div>

<!-- Movie posts -->
<div class="movies mt-4">
  {% if movies.count <= 0 %}
  <div class="bg-light rounded-2 p-2 p-md-4 text-center">
    <h3>This user hasn't posted any movie</h3>
  </div>
  {% else %}
  <div class="row">
    {% for movie in movies %}
    <div class="movie-card col-lg-6 mb-3">
      <a href="/movie-details/{{ movie.id }}/" class="d-block">
        <div class="d-flex bg-white rounded-3 overflow-hidden shadow">
          <div class="shadow-sm border-0" style="max-width: 200px">
            <img
              src="{% if movie.movie_poster or movie.movie_poster != ""%}{{movie.movie_poster }} {% else %}{{'/static/images/utilities/poster-placeholder.svg'}} {% endif %}"
              class="w-100"
              alt="{{movie.title}}"
            />
          </div>
          <div class="movie-title p-2 px-3">
            <h3>{{movie.title}}</h3>
            <span class="badge badge-primary bg-info">{{ movie.genre }}</span>
            <div class="mt-3">
              <span class="text-muted"
                >posted by <b>@{{ movie.user.username }}</b> on
                {{movie.date_time_added }}</span
              >
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{%endblock %}
